.skip-to-content {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;

    &:focus {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
        position: static;
        /* Or fixed/absolute, depending on your design */
        z-index: 999;
        padding: 10px;
        background: #fff;
        /* or any background color for contrast */
        border: 1px solid #000;
    }
}

.header {
    padding: 15px 0;

    .container {
        @include breakpoint(small) {
            display: flex;
            align-items: center;
        }
    }

    .logo {
        font-weight: bold;
        font-size: 42px;
        color: $black;
        text-decoration: none;
    }

    nav {
        margin-left: auto;

        ul {
            display: flex;
            gap: 2rem;
            list-style: none;
        }

        a {
            color: $gray;
            text-decoration: none;
        }
    }
}