.section-experience {
    padding: 3rem 0;
    background-color: rgba($gray, 0.03);
    .section-title {
        margin-bottom: 2rem;
        font-size: 1rem;
        text-align: center;
        span {
            display: inline-block;
            padding: 0.2rem 2rem;
            background-color: $black;
            color: $white;
            font-weight: normal;
            border-radius: 15px;
        }
    }
    .section-description {
        text-align: center;
    }
    .experience-list {
        .item {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            padding: 2rem;
            background-color: $white;
            box-shadow: 0 0 10px rgba($black, 0.02);
            @include breakpoint(small) {
                flex-direction: row;
                gap: 2rem;
            }
            .item-image {
                width: 100px;
                flex-shrink: 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .item-content {
                .what-did-i-do {
                    margin-top: 2rem;
                }
                .company-description {
                    margin-bottom: 1.5rem;
                    padding: 1rem;
                    background-color: rgba(75, 85, 99, 0.03);
                    border-radius: 8px;
                    border-left: 4px solid #000;
                    font-style: italic;
                    color: rgb(38.25, 38.25, 38.25);
                    line-height: 1.5;
                }
            }
            .item-meta {
                @include breakpoint(small) {
                    width: 300px;
                }
            }
        }
    }
}