.section-hero {
    @include breakpoint(small) {
        padding: 60px 0;
    }
    .container {
        @include breakpoint(small) {
            display: flex;
            gap: 60px;
            align-items: center;
        }
    }
    .hero-content {
        @include breakpoint(small) {
            width: 60%;
        }
    }
    .hero-image {
        @include breakpoint(small) {
            width: 40%;
        }
        img {
            width: 100%;
        }
    }
}