.section-get-in-touch {
    padding: 120px 0;
    background-color: rgba($gray-light, 0.3);
    text-align: center;
    .section-title {
        margin-bottom: 2rem;
        font-size: 1rem;
        text-align: center;
        span {
            display: inline-block;
            padding: 0.2rem 2rem;
            background-color: $black;
            font-weight: normal;
            color: $white;
            border-radius: 15px;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}