@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$base-font-size: 18px; // Define a base font size for the root element (html)

html {
    font-size: $base-font-size; // Set the base font size for the root element
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1rem; // Set the base font size for the body relative to the root font size
}

h1 {
    margin-bottom: 1rem; // Equal to the base font size of the root element
    font-size: 2rem; // Double the base font size of the root element
}

h2 {
    margin-bottom: 1rem; // Equal to the base font size of the root element
    font-size: 1.5rem; // 1.5 times the base font size of the root element
}

h3 {
    margin-bottom: 1rem; // Equal to the base font size of the root element
    font-size: 1.25rem; // 1.25 times the base font size of the root element
}

h4 {
    margin-bottom: 1rem;
    font-size: 1rem; // Equal to the base font size of the root element
}

h5 {
    margin-bottom: 1rem;
    font-size: 0.875rem; // 0.875 times the base font size of the root element
}

h6 {
    margin-bottom: 1rem;
    font-size: 0.75rem; // 0.75 times the base font size of the root element
}

p {
    margin-bottom: 1rem; // Equal to the base font size of the root element
    font-size: 1rem; // Equal to the base font size of the root element
}