.section-experience {
    padding: 3rem 0;
    background-color: rgba($gray, 0.03);
    .section-title {
        margin-bottom: 2rem;
        font-size: 1rem;
        text-align: center;
        span {
            display: inline-block;
            padding: 0.2rem 2rem;
            background-color: $gray-light;
            font-weight: normal;
            border-radius: 15px;
        }
    }
    .section-description {
        text-align: center;
    }
    .experience-list {
        .item {
            display: flex;
            gap: 2rem;
            margin-bottom: 2rem;
            padding: 2rem;
            background-color: $white;
            box-shadow: 0 0 10px rgba($black, 0.02);
            .item-image {
                width: 20%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .item-content {
                .what-did-i-do {
                    margin-top: 2rem;
                }
            }
            .item-meta {
                width: 35%;
            }
        }
    }
}